@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400&display=swap');
*
{
    margin:0;
    padding: 0;
}
.imagestyle {
    border-radius: 50%;
    box-shadow: 0px 4px 31px #0000000A;
    border: 20px solid #FFFFFF;

}

body {
    background-color: #FAFAFA;


}
.maincontainer
{
    width:1560px;
    height:720px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.companycontentdesign {
    margin-top: 19px;
    letter-spacing: 0px;
    font-size: 40px;
    margin-left: 163px;
    
    font-family: 'Roboto';
    font-weight: 300;
    margin-bottom:0px!important;
    
}

.imagelogodesign {
    margin-left: 164px;
}

.logintext {
    margin-left: 163px;
    font-size: 25px;
    margin-top: 32px;
    font-family: 'Roboto';
    font-weight:400;
    margin-bottom: 0px!important;
}

.form-control {
    width: 429px !important;
    height: 49px;
    margin-left: 163px;
    margin-top: 23px;
    border: 1px solid #ADADAD!important;
    border-radius: 5px!important;
}

.passworddesign {
    width: 429px !important;
    margin-top: 27px !important;
    height: 49px !important;
    border: 1px solid #ADADAD!important;
    border-radius: 5px!important;
}

.buttondesign {
    border-radius: 23px;
    margin-left: 163px;
    margin-top: 30px;
    width: 138px;
    height: 45px;
    background: #C8242F;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    opacity: 1;
    font-family: 'Roboto';
    font-weight:500;
}

.forgotdesign {
    color: #ADADAD;
    font-size: 15px;
    margin-top: 43px;
    font-family: 'Roboto';
    font-weight: 400;
    margin-bottom: 0px!important;
}

.bottomformflex {
    width: 592px;
    display: flex;
    justify-content: space-between;
}

.rowdesign {

    display: flex;
    align-items: center;
    justify-content: center;

}

.bottommostparagraphdesign {
    font-size: 15px;
    color: #ADADAD;
    margin-top: 34px;
    margin-left: 163px;
    font-family: 'Roboto';
    font-weight:400;
    margin-bottom: 0px!important;
}

.bottomspan {
    color: #C8242F;

}